@*@using Service.Models;
@{
    ViewData["Title"] = "GetList";
}
@model List<Category>
<style>
    li {
        list-style-type: none; /* Убираем маркеры */
    }
</style>
<h1>Select category you want to write about: </h1>
<ul list-style-type: none;>
    <li>
        <table>
            @foreach (var item in @Model)
            {
                <tr>

                    <td> <a> @item.Name </a> </td>
                    <td><a href="/category/delete/@item.ID">DELETE</a></td>
                    <td><a href="/articles/create/@item.ID">SELECT</a></td>


                </tr>
            }
        </table>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Add new</a>

    </li>


</ul>*@