@*@using Service.Models;
@{
    ViewData["Title"] = "SelectCategory";
}
@model List<Category>
<h1>Select Category</h1>

<table>
    @foreach (var item in @Model)
    {
        <tr>

            <td> <p> @item.Name  </td>
            <td><a href="/articles/category/@item.ID">SELECT</a></td>

        </tr>
    }
</table>*@


